In [1]:
import numpy as np
import pandas as pd
#Uploading the dataset which is a csv file to python
df=pd.read_excel("mldatasetfinal numbers.xlsx")
df

,ID,Company Name,Model Name,Price,Model Year,Location,Mileage,Engine Type,Engine Capacity,Color,Assembly,Body Type,Transmission Type,Registration Status,Airbags,Cylinders
0,45654403,26,158,2385000,2017,1,9869,2,1000,18,0,1,0,1,12,6
1,44731507,26,45,111000,2019,2,11111,2,1300,21,1,4,0,0,8,6
2,45774419,25,11,1530000,2019,2,17500,2,660,21,1,1,0,1,2,4
3,45769185,25,11,1650000,2019,4,9600,2,660,21,1,1,1,0,0,4
4,45809263,26,45,1435000,2010,1,120000,2,1300,2,1,4,1,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,26,116,6000000,2004,2,85000,2,2700,2,0,3,0,0,5,4
19233,45778856,25,115,775000,2005,1,110000,2,1000,21,1,3,1,0,8,4
19234,45804997,20,80,2255000,2011,4,55470,2,1500,2,0,3,0,0,4,4
19235,45793526,20,110,910000,2007,5,74000,2,660,21,0,1,0,0,4,4
19236,45813273,6,95,1345000,2013,5,85000,2,660,18,0,1,0,0,12,4

In [2]:
#A1
import numpy as np
from sklearn.model_selection import train_test_split
# Selecting any two classes from the dataset
class_A = 0
class_B = 1
#I selected class 2 and 5
X = df.drop(['Assembly'], axis=1)  #Here we are dropping the target label column and including all the rest of the features
y = df['Assembly']  #We are taking all the attributes of target label column
# Filtering the data to include only the selected classes i.e. class having label as 2 and class having label as 5
X_selected = X[(y == class_A) | (y == class_B)]
y_selected = y[(y == class_A) | (y == class_B)]
# Splitting the data into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X_selected, y_selected, test_size=0.2, random_state=42)

In [33]:
from sklearn import svm
clf = svm.SVC()
#fitting all the features with the svm model created
clf.fit(X_train, y_train)
#Printing the support vectors
clf.support_vectors_

array([[4.5766234e+07, 6.0000000e+00, 9.8000000e+01, ..., 0.0000000e+00,
        1.2000000e+01, 6.0000000e+00],
       [4.5444840e+07, 2.6000000e+01, 1.2000000e+01, ..., 0.0000000e+00,
        8.0000000e+00, 4.0000000e+00],
       [4.5773583e+07, 9.0000000e+00, 1.5600000e+02, ..., 0.0000000e+00,
        0.0000000e+00, 4.0000000e+00],
       ...,
       [4.5813719e+07, 2.5000000e+01, 1.6000000e+02, ..., 0.0000000e+00,
        1.2000000e+01, 6.0000000e+00],
       [4.5648818e+07, 2.6000000e+01, 6.3000000e+01, ..., 0.0000000e+00,
        1.2000000e+01, 4.0000000e+00],
       [4.5793307e+07, 9.0000000e+00, 4.2000000e+01, ..., 0.0000000e+00,
        4.0000000e+00, 4.0000000e+00]])

In [31]:
#A2
#Calculating and printing the accuracy of SVM
accuracy = clf.score(X_test, y_test)
print("Accuracy of SVM:", accuracy)

Accuracy of SVM: 0.6904885654885655

In [32]:
test_vector = X_test.iloc[0]
# Perform classification for the given feature vector using the trained SVM model
predicted_class = clf.predict([test_vector])
#Printing the predicted class
print(f"The predicted class for the test vector: {predicted_class}")

The predicted class for the test vector: [1]

C:\Users\19138\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [34]:
#A3
import numpy as np
import pandas as pd
from sklearn import svm
# Using the predict() function to get predicted class values for the test set
predicted_classes = clf.predict(X_train)
# Calculating accuracy by comparing predicted_classes to the actual y_test labels
correct_predictions = (predicted_classes == y_train)
accuracy = np.mean(correct_predictions)
# Printing the accuracy
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.69

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Creating a sample dataset
data = {
    'Feature1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Feature2': [2, 3, 4, 2, 3, 4, 5, 6, 7, 8],
    'Target': [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]  # Binary classification task
}

df = pd.DataFrame(data)

# Assuming the target label column is named 'Target'
X = df.drop(['Target'], axis=1)
y = df['Target']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define kernel functions
kernel_functions = ['linear', 'poly', 'rbf', 'sigmoid']

# Experiment with different kernel functions
for kernel in kernel_functions:
    # Create SVM classifier with the current kernel
    clf = SVC(kernel=kernel)
    
    # Train the classifier on the training set
    clf.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred = clf.predict(X_test)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)
    
    # Print results
    print(f"Accuracy with '{kernel}' kernel: {accuracy:.2f}")

Accuracy with 'linear' kernel: 1.00
Accuracy with 'poly' kernel: 1.00
Accuracy with 'rbf' kernel: 1.00
Accuracy with 'sigmoid' kernel: 0.00